<%= @title %>
<% if @note %>
  <form action="/<%= @note.id %>/<%= field %>" id="edit" method="post">
    <input name="_method" type="hidden" value="put">
      <textarea id="edit" name="content" cols="60" rows="1">
        <%= @note.content %>
      </textarea>
    </input>
    <br/>
    <br/>
    <br/>
    <input type="submit" value="Update"></input>
  </form>
  <form action="/" method="get">
    <input type="submit" value="Cancel"></input>
  </form>
<% else %>
  <p>Note not found!</p>
<% end %>
